{% extends 'template.html' %}

{% block conteudo %}

    <main>
        <div class='content_display authors'>
            <div class="content_display_inner">
            <h2>Authors</h2>
    
            <div id="authors_selector">
                <a id='authors_a' href='#'>A</a>
                <a id='authors_b' href='#'>B</a>
                <a id='authors_c' href='#'>C</a>
                <a id='authors_d' href='#'>D</a>
                <a id='authors_e' href='#'>E</a>
                <a id='authors_f' href='#'>F</a>
                <a id='authors_g' href='#'>G</a>
                <a id='authors_h' href='#'>H</a>
                <a id='authors_i' href='#'>I</a>
                <a id='authors_j' href='#'>J</a>
                <a id='authors_k' href='#'>K</a>
                <a id='authors_l' href='#'>L</a>
                <a id='authors_m' href='#'>M</a>
                <a id='authors_n' href='#'>N</a>
                <a id='authors_o' href='#'>O</a>
                <a id='authors_p' href='#'>P</a>
                <a id='authors_q' href='#'>Q</a>
                <a id='authors_r' href='#'>R</a>
                <a id='authors_s' href='#'>S</a>
                <a id='authors_t' href='#'>T</a>
                <a id='authors_u' href='#'>U</a>
                <a id='authors_v' href='#'>V</a>
                <a id='authors_w' href='#'>W</a>
                <a id='authors_x' href='#'>X</a>
                <a id='authors_y' href='#'>Y</a>
                <a id='authors_z' href='#'>Z</a>
            </div>


            </div>
        </div>
    </main>

    <script type='module' src="{{ url_for('static', filename='js/authors.js')}}"></script>

{% endblock %}

   